/*General Essential*/

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    user-select: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex {
    display: flex;
}

/*Sections*/

#navbar {
    padding: 8px;
    font-size:18px;
    color: #e5e7eb;
}

#top {

}

#mid {
    flex-direction: column;
}

#bot {

}

#last {

}

#footer {

}

.midimages {
    flex:1;
    margin: 0px 50px;
    justify-content: space-evenly;
    gap: 2rem;
}

.midcontainer img {
    width: 300px;
    height: auto;
    border: 5px solid #19282F;
    border-radius: 20px;
    border-style: solid;
}

.darkblue {
    background-color: #1f2937;
}


.linksul {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin-right: 200px;
    font-size: 16px;
}

.logodiv {
    align-items: center;
}

.logodiv img {
    margin-left: 20px;
    width: 64px;    
}

