/*General Essential*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    user-select: none;
}

ul {
    list-style: none;
}


.midcontainer img {
    width: 500px;
    height: auto;
    bor
}