/*General Essential*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    user-select: none;
}

ul {
    list-style: none;
}

/*Sections*/

#navbar {

}

#top {

}

#mid {

}

#bot {

}

#last {

}

#footer {
    
}





.midcontainer img {
    width: 500px;
    height: auto;
    border: 5px solid #19282F;
    border-radius: 20px;
    border-style: ridge;
}